.listpage__form {
    max-width: 952px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.listpage__input {
    max-width: 204px;
}

.listpage__form_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.listpage__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
}

.listpage__item {
    display: flex;
    align-items: center;
    position: relative;
}

.listpage__button_type_small {
    width: 175px;
}

.listpage__button_type_big {
    width: 362px;
}

.listpage__circle {
    display: flex;
    position: absolute;
}

.topCircle {
    left: 25px;
    top: -80px;
}

.bottomCircle {
    left: 25px;
    bottom: -110px;
}