.list-page__form {
    max-width: 952px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.list-page__input {
    max-width: 204px;
}

.list-page__form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.list-page__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
}

.list-page__item {
    display: flex;
    align-items: center;
    position: relative;
}

.list-page__form-button_type_small {
    width: 175px;
}

.list-page__form-button_type_big {
    width: 362px;
}

.list-page__circle {
    display: flex;
    position: absolute;
}

.topCircle {
    left: -80px;
    top: -80px;
}

.bottomCircle {
    left: -80px;
    bottom: -110px;
}