.fibonacci__form {
    max-width: 567px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.fibonacci__form_input {
    margin-right: 12px;
}

.fibonacci__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 70px;
    padding-top: 48px;
}