.form {
    max-width: 522px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form__input {
    margin-right: 12px;
}

.list {
    margin: 120px auto 0;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}